<h1>@Model.GetTitle()</h1>
<p>Description:</p>
<p>@Model.GetDescription()</p>
<p>Contact Information:</p>
<p>@Model.GetContact().GetName()</p>

<a href='/jobs/new'>Add another job</a>
<a href='/jobs'>View all jobs</a>
