<h1>JobList</h1>
<h3>Add a new job to the board:</h3>
<form action='/jobs' method='post'>
  <label for='new-title'>Job Title:</label>
  <input id='new-title' name='new-title' type='text'>
  <label for='new-description'>Job Description:</label>
  <input id='new-description' name='new-description' type='text'>

<div id="contact-info">
  <h4>Contact Info</h4>
  <label for='new-name'>Job contact name:</label>
  <input id='new-name' name='new-name' type='text'>
  <label for='new-email'>Email:</label>
  <input id='new-email' name='new-email' type='text'>
  <label for='new-phonenum'>Phone number:</label>
  <input id='new-phonenum' name='new-phonenum' type='text'>
</div>

  <button type='submit'>Add Job</button>
</form>
