<h1>JobList</h1>
<h3>Add a new job to the board:</h3>
<form action='/jobs' method='post'>
  <label for='new-title'>Job Title:</label>
  <input id='new-title' name='new-title' type='text'>
  <label for='new-description'>Job Description:</label>
  <input id='new-description' name='new-description' type='text'>
  <label for='new-name'>name Info:</label>
  <input id='new-name' name='new-name' type='text'>

  <label for='new-email'>email:</label>
  <input id='new-email' name='new-email' type='text'>
  <label for='new-phonenum'>phonenum:</label>
  <input id='new-phonenum' name='new-phonenum' type='text'>

  <button type='submit'>Add Job</button>
</form>
