<h1>JobList</h1>
<h3>Add a new job to the board:</h3>
<form action='/jobs' method='post'>
  <label for='new-title'>Job Title:</label>
  <input id='new-title' name='new-title' type='text'>
  <label for='new-description'>Job Description:</label>
  <input id='new-description' name='new-description' type='text'>
  <label for='new-contact'>Job Contact Info:</label>
  <input id='new-contact' name='new-contact' type='text'>

  <button type='submit'>Add Job</button>
</form>
